---
import { Icon } from "astro-icon/components";
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main class="min-h-full bg-[#f9f2ed]">
		<section class="flex flex-col justify-center mx-auto min-h-[100svh] md:min-h-0 px-4 pt-12 md:py-[30vh] pb-12 max-w-5xl space-y-4">
			<h1 class="text-4xl md:text-5xl">
				Hi, I'm Oskar Karpiński
			</h1>

			<h2 class="text-xl md:text-2xl">
				I'm a Creative Developer specializing in creating mobile and server-side applications
			</h2>

			<a href="#about">
				<button class="bg-black hover:cursor-pointer hover:bg-black/80 text-white px-6 py-4 text-xl rounded-sm">
					About Me
				</button>
			</a>
		</section>

		<section class="bg-[#f4e9df] md:mt-12">
			<div class="flex flex-col justify-center mx-auto min-h-[100svh] md:min-h-0 px-4 py-12 md:py-[25vh] pb-12 md:max-w-5xl gap-6" id="about">
				<h1 class="text-3xl md:text-5xl">
					About Me
				</h1>

				<hr class="border-1 border-black/25" />

				<p class="text-xl md:text-2xl">
					I'm a passionate developer from Poland with a strong focus on building secure,
					scalable, and innovative applications.
				</p>

				<p class="text-xl">
					I specialize in Java, Kotlin, Go, Rust and JavaScript, leveraging these technologies to create
					efficient and robust software solutions. My interests revolve around encryption, cybersecurity,
					AI development, and blockchain technology. I enjoy exploring new ways to enhance security,
					optimize system performance, and push the boundaries of what’s possible with artificial intelligence.
				</p>

				<div class="flex justify-center flex-wrap gap-6">
					<a href="https://github.com/M3DZIK" target="_blank">
						<button class="bg-black hover:cursor-pointer hover:bg-black/80 text-white px-6 py-4 text-xl flex items-center gap-2 rounded-md">
							<Icon name="github" />
							GitHub
						</button>
					</a>

					<a href="https://instagram.com/untypeable" target="_blank">
						<button class="bg-black hover:cursor-pointer hover:bg-black/80 text-white px-6 py-4 text-xl flex items-center gap-2 rounded-md">
							<Icon name="instagram" />
							Instagram
						</button>
					</a>

					<a href="mailto:me@medzik.dev" target="_blank">
						<button class="bg-black hover:cursor-pointer hover:bg-black/80 text-white px-6 py-4 text-xl flex items-center gap-2 rounded-md">
							<Icon name="email" />
							E-Mail
						</button>
					</a>
				</div>
			</div>
		</section>
	</main>
</Layout>
