---
import { Icon } from "astro-icon/components";
import Layout from '../layouts/Layout.astro';
import librepass from '../assets/librepass.png'
---

<Layout>
	<main class="min-h-full bg-[#FBF7F4]">
		<section class="flex flex-col justify-center mx-auto min-h-[100svh] md:min-h-0 px-4 pt-12 md:py-[30vh] pb-12 max-w-5xl space-y-4">
			<h1 class="text-4xl md:text-5xl">
				Hi, I'm Oskar Karpiński
			</h1>

			<h3 class="text-xl md:text-2xl">
				I am a Creative Developer specializing in creating mobile and server-side applications
			</h3>

			<div class="flex gap-6 md:gap-8">
				<a href="#about">
					<button class="bg-black hover:bg-black/80 hover:cursor-pointer text-white px-6 py-4 text-xl rounded-sm">
						About Me
					</button>
				</a>

				<a href="#projects">
					<button class="bg-gray-300 hover:bg-gray-200 text-gray-800 hover:cursor-pointer px-6 py-4 text-xl rounded-sm">
						Projects
					</button>
				</a>
			</div>
		</section>

		<section class="bg-[#F9F2ED] md:mt-12">
			<div class="flex flex-col justify-center mx-auto min-h-[100svh] md:min-h-0 px-4 py-12 md:py-[25vh] md:max-w-5xl gap-6" id="about">
				<h1 class="text-4xl md:text-5xl">
					About Me
				</h1>

				<p class="text-2xl md:text-3xl">
					I'm a passionate developer from Poland and a high school student
				</p>

				<p class="text-xl">
					I'm 17 years old, a student, and a developer focused on building high-performance software
					with an emphasis on encryption, cybersecurity, artificial intelligence, blockchain technology,
					security and performance optimization.
				</p>

				<div class="flex justify-center flex-wrap gap-6">
					<a href="https://github.com/M3DZIK" target="_blank">
						<button class="bg-black hover:cursor-pointer hover:bg-black/80 text-white px-6 py-4 text-xl flex items-center gap-2 rounded-md">
							<Icon name="github" />
							GitHub
						</button>
					</a>

					<a href="https://instagram.com/untypeable" target="_blank">
						<button class="bg-black hover:cursor-pointer hover:bg-black/80 text-white px-6 py-4 text-xl flex items-center gap-2 rounded-md">
							<Icon name="instagram" />
							Instagram
						</button>
					</a>

					<a href="mailto:me@medzik.dev" target="_blank">
						<button class="bg-black hover:cursor-pointer hover:bg-black/80 text-white px-6 py-4 text-xl flex items-center gap-2 rounded-md">
							<Icon name="email" />
							E-Mail
						</button>
					</a>
				</div>
			</div>
		</section>

		<section class="bg-[#FBF7F4] md:mt-12" id="projects">
			<h1 class="flex mx-auto md:max-w-5xl px-4 md:text-7xl text-5xl pt-12">
				Projects
			</h1>

			<div class="flex flex-col md:flex-row justify-center mx-auto min-h-[100svh] md:min-h-0 px-4 py-16 md:max-w-5xl items-center gap-8">
				<div class="flex flex-col gap-8 md:gap-12">
					<h2 class="text-4xl md:text-5xl">
						LibrePass
					</h2>

					<p class="text-xl md:text-2xl">
						A password management app with automatic synchronization across all devices.
						Features advanced encryption and hashing for maximum security.
						Currently, the project is no longer in development.
					</p>
				</div>

				<img src={librepass.src} class="max-w-2xs md:max-w-sm" alt="librepass mobile app screenshot"/>
			</div>
		</section>
	</main>
</Layout>
