---
import { Icon } from "astro-icon/components";
import Pill from "./Pill.astro";
---

<section class="flex flex-col px-2 py-8 gap-2">
    <div class="flex flex-wrap justify-center gap-4">
        <a href="https://github.com/M3DZIK" target="_blank">
            <Pill icon="github">
                GitHub
            </Pill>
        </a>

        <a href="https://instagram.com/untypeable" target="_blank">
            <Pill icon="instagram">
                Instagram
            </Pill>
        </a>

        <a href="mailto:me@medzik.dev" target="_blank">
            <Pill icon="email">
                E-mail
            </Pill>
        </a>
    </div>
</section>
